@use "../../styles/variables"  as *;

.notfound-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.notfound-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #faf4ed;

  h4 {
    font-size: 120px;
    margin: 0;
    color: $color-primary;
  }

  p {
    font-size: 40px;
    color: $color-primary;
  }
  .btn-back {
    margin-top: 20px;
    background: $color-primary;
    border-radius: 7px;
    color: #fff;
    padding: 10px 15px;

  }
}

@media (max-width: 768px) {
  .notfound-content { 
    p {
      font-size: 20px;
    }
    h4 {
      font-size: 80px;
    }
    .btn-back {
      font-size: 12px;
    }
  }
}
